{
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended",
    "react-app",
    "react-app/jest",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/eslint-recommended"
  ],
  "plugins": ["@typescript-eslint", "prettier"],
  "env": {
    "browser": true,
    "jasmine": true,
    "jest": true,
    "webextensions": true
  },
  "globals": {
    "BigInt": true
  },
  "rules": {
    "prettier/prettier": ["error"],
    "semi": [2, "never"],
    "no-console": "error",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/ban-ts-comment": "off"
  },
  "overrides": [
    {
      "files": ["**/*.stories.*"],
      "rules": {
        "import/no-anonymous-default-export": "off"
      }
    }
  ],
  "parser": "@typescript-eslint/parser"
}
